.slides_container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.slides {
    display: grid;
    > .slide {
      grid-area: 2 / -2;
    }
  
    > i {
        appearance: none;
        background: transparent;
        border: none;
        color: white;
        position: absolute;
        font-size: 2rem;
        width: 4rem;
        height: 5rem;
        top: 40%;
        transition: opacity 0.3s;
        opacity: 0.7;
        z-index: 5;
    
        &:hover {
          opacity: 1;
        }
    
        &:focus {
          outline: none;
        }
    
        &:first-child {
          grid-area: 1;
          left: 0%;
        }
        &:last-child {
          grid-area: 3;
          right: 0%;
        }
    }
  }
  
  .slide {
    width: 50%;
  }
  
  .slideContent {
    width: 20vw;
    height: 10vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    /* opacity: 0.7; */
    margin-bottom: 15px;
    display: grid;
    align-content: center;
  
    /* transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset)))
      rotateY(calc(-45deg * var(--dir))); */
  }
  
  .slideContentInner {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
  
    .slideSubtitle,
    .slideTitle {
      font-size: 2rem;
      font-weight: normal;
      letter-spacing: 0.2ch;
      text-transform: uppercase;
      margin: 0;
    }
  
    .slideSubtitle::before {
      content: "— ";
    }
  
    .slideDescription {
      margin: 0;
      font-size: 0.8rem;
      letter-spacing: 0.2ch;
    }
  }
  
  .slideBackground {
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s ease-in-out;
    pointer-events: none;
  
    transform: translateX(calc(10% * var(--dir)));
  }
  
  .slide[data-active] {
    z-index: 2;
    pointer-events: auto;
  
    
  
    .slideContentInner {
      opacity: 1;
    }
  
    .slideContent {
      --x: calc(var(--px) - 0.5);
      --y: calc(var(--py) - 0.5);
      opacity: 1;

    }
  }
  