///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Contact */

	.contact {
		display: flex;
		flex-wrap: wrap;
		

		a {
			margin: auto;
		}
	}